/*
0-550px: phones
550 - 900px: portrait tablets
900px - 1200px: landscape tablets
1200 - 1800px: desktops
>1800px: big screens 
*/
/*
ORDER: Base + Typography > general layout + grid > pagelayout > components
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  /* includes borders & paddings in specified height, width */
  font-size: 62.5%;
  /* 1rem = 10px => so that users can dynamically change browser font size as well */ }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 34.375em) {
    html {
      font-size: 37.5%; } }

body {
  background-image: linear-gradient(to right bottom, rgba(255, 51, 102, 0.8), rgba(186, 38, 93, 0.8));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #eb2f64;
  color: #fff; }

@keyframes move_in_from_left_to_right {
  0% {
    opacity: 0;
    transform: translateX(-20%); }
  75% {
    opacity: 0.8;
    transform: translateX(10%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes move_in_from_right_to_left {
  0% {
    opacity: 0;
    transform: translateX(20%); }
  75% {
    opacity: 0.8;
    transform: translateX(-10%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.5); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

body {
  font-family: "Open Sans", "sans-serif";
  /* properties related to font are inherited */
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #999; }

.u-center-text {
  text-align: center !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-top-big {
      margin-top: 5rem !important; } }

.u-margin-top-medium {
  margin-top: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-top-medium {
      margin-top: 2rem !important; } }

.u-margin-top-small {
  margin-top: 1rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-top-small {
      margin-top: 0.5rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 2rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-small {
      margin-bottom: 0.5rem !important; } }

.btn-inline {
  border: none;
  color: #eb2f64;
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  padding-bottom: 1rem;
  cursor: pointer;
  transform: all 0.2s; }
  .btn-inline--pulsate:hover {
    color: #333;
    animation: pulsate 1s infinite; }
  .btn-inline span {
    margin-left: 0.3rem;
    transition: all 0.3s; }
  .btn-inline--movement:hover {
    color: #333; }
    .btn-inline--movement:hover span {
      margin-left: 0.8rem; }

.cta__btn {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  border-radius: 10rem;
  background-image: linear-gradient(to right, #ff3366, #ba265d);
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden; }
  .cta__btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.2s; }
  .cta__btn--normal-state {
    padding: 2rem 5rem; }
  .cta__btn--hover-state {
    padding: 2rem 0rem;
    position: absolute;
    top: -100%;
    left: 0; }
  .cta__btn:hover {
    background-image: linear-gradient(to left, #ff3366, #ba265d); }
  .cta__btn:focus {
    animation: pulsate 1s infinite; }
  .cta__btn:hover .cta__btn--normal-state {
    transform: translateY(100%); }
  .cta__btn:hover .cta__btn--hover-state {
    top: 0; }

.cta {
  text-align: center;
  padding: 1.5rem 3rem; }
  .cta__secondary-heading {
    font-size: 1.5rem;
    color: #ff3366;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1rem; }

.gallery {
  display: flex;
  flex-direction: row; }
  .gallery__photo {
    width: 100%;
    display: block; }

.description {
  background-color: #fff;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 60%;
  margin-right: 2rem;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;
  padding: 2rem; }
  @media (max-width: 56.25em) {
    .description {
      padding: 1rem; } }
  @media (max-width: 34.375em) {
    .description {
      margin-right: 0;
      margin-bottom: 2rem;
      padding: 0; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 1rem; }

.list {
  list-style: none;
  margin: 2rem 0;
  padding: 2rem 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  @media (max-width: 56.25em) {
    .list {
      padding: 1rem 0; } }
  .list__item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    margin-bottom: 0.5rem; }
    .list__item::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: 0.5rem;
      /*  background-image: url("../img/chevron-thin-right.svg");
      background-size: cover; // even if icon is larger than 1 rem, it will resize itself */
      background-color: #ff3366;
      -webkit-mask-image: url("../img/chevron-thin-right.svg");
      -webkit-mask-size: cover; }

.recommend {
  font-size: 1.3rem;
  color: #777;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  @media (max-width: 34.375em) {
    .recommend {
      flex-direction: column; } }
  .recommend__friends {
    display: flex;
    flex-direction: row; }
  .recommend__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    box-sizing: content-box;
    border: 0.2rem solid #fff; }
    .recommend__photo:not(:last-child) {
      margin-right: -1rem; }

.overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #777; }
  .overview__heading-primary {
    font-size: 2.25rem;
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
    @media (max-width: 34.375em) {
      .overview__heading-primary {
        font-size: 1.75rem;
        padding: 1rem 2rem; } }
  .overview__stars {
    margin-right: auto; }
  .overview__location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .overview__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: #eb2f64; }
    .overview__icon--location {
      margin-right: 0.5rem; }
  .overview__rating {
    margin-left: 0.5rem;
    color: #fff;
    background-color: #eb2f64;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem; }
    .overview__rating--average {
      font-size: 1.4rem; }
      @media (max-width: 34.375em) {
        .overview__rating--average {
          font-size: 1rem; } }
    .overview__rating--count {
      font-size: 1rem; }
      @media (max-width: 34.375em) {
        .overview__rating--count {
          font-size: 0.6rem; } }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search-form {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 34.375em) {
    .search-form {
      flex: 0 0 90%;
      order: 1;
      align-self: center; } }
  .search-form__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    border-radius: 150rem;
    padding: 0.5rem 2rem;
    flex-basis: 80%;
    transition: all 0.2s; }
    .search-form__input:focus {
      outline: none;
      flex-basis: 100%;
      background-color: #f0eeee; }
    .search-form__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #ccc;
      font-size: inherit; }
  .search-form__input + .search-form__btn {
    background-color: #f0eeee; }
  .search-form__btn {
    background-color: #f4f2f2;
    border: none;
    margin-left: -3.5rem;
    transition: all 0.5s;
    /* when we click element to give pressing effect*/ }
    .search-form__btn:hover {
      transform: translateY(-10%);
      box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.2); }
    .search-form__btn:active {
      transform: translateY(-5%);
      /* wrt initial state */ }
  .search-form__icon {
    height: 2rem;
    width: 2rem;
    fill: #777; }

.sidebar-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.sidebar-list {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 2.5rem; }
  @media (max-width: 56.25em) {
    .sidebar-list {
      display: flex;
      flex-direction: row;
      margin: 0; } }
  .sidebar-list__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.3rem;
    background-color: #eb2f64;
    transform: scaleY(0);
    transform-origin: center;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .sidebar-list__item:hover::before, .sidebar-list__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .sidebar-list__item:active::before {
    background-color: #ff3366; }
  .sidebar-list__item {
    position: relative; }
    .sidebar-list__item:not(last-child) {
      margin-bottom: 0.5rem; }
      @media (max-width: 56.25em) {
        .sidebar-list__item:not(last-child) {
          margin-bottom: 0; } }
    @media (max-width: 56.25em) {
      .sidebar-list__item {
        flex-grow: 1; } }
  .sidebar-list__link:link, .sidebar-list__link:visited {
    color: #faf9f9;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: relative;
    z-index: 10; }
    @media (max-width: 56.25em) {
      .sidebar-list__link:link, .sidebar-list__link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media (max-width: 34.375em) {
      .sidebar-list__link:link, .sidebar-list__link:visited {
        flex-direction: column; } }
  .sidebar-list__icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: currentColor;
    margin-right: 2rem; }
    @media (max-width: 34.375em) {
      .sidebar-list__icon {
        height: 1.25rem;
        width: 1.25rem;
        margin-right: 0;
        margin-bottom: 0.5rem; } }

.legal {
  font-size: 1.2rem;
  text-align: center;
  color: #777;
  padding: 2.5rem; }
  @media (max-width: 56.25em) {
    .legal {
      display: none; } }

.user-nav {
  position: relative;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%; }
    .user-nav > *:hover {
      background-color: #f4f2f2; }
  .user-nav__icon-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative; }
    .user-nav__icon-box__icon {
      height: 2.5rem;
      width: 2.5rem;
      fill: #999; }
    .user-nav__icon-box__notification-count {
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      font-size: 0.8rem;
      background-color: #eb2f64;
      color: #fff;
      position: absolute;
      top: 3rem;
      left: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
  .user-nav__user {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .user-nav__user-photo {
      height: 3.75rem;
      width: 3.75rem;
      border-radius: 50%; }
    .user-nav__user-name {
      margin-left: 0.5rem; }

.user-reviews {
  flex: 1;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.review {
  background-color: #fff;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin-bottom: 3rem;
  position: relative;
  overflow: hidden; }
  @media (max-width: 56.25em) {
    .review {
      padding: 0.5rem; } }
  .review::before {
    content: "\201C";
    font-size: 16rem;
    position: absolute;
    top: -8.5rem;
    left: -0.5rem;
    z-index: 1;
    color: #f0eeee; }
  .review__text {
    position: relative;
    z-index: 2; }
  .review__user {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .review__user-name {
      font-size: 1.2rem;
      color: rgba(0, 0, 0, 0.8); }
    .review__user-date {
      font-size: 1.2rem;
      color: rgba(0, 0, 0, 0.6); }
  .review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .review__rating {
    margin-left: auto;
    color: #ff3366;
    font-size: 2.2rem; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #f4f2f2;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.8);
  min-height: 50rem; }
  @media (max-width: 56.25em) {
    .container {
      margin: auto; } }

.content {
  display: flex;
  flex-direction: row; }
  @media (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.header {
  height: 10rem;
  background-color: #fff;
  border-bottom: 1px solid #777;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 34.375em) {
    .header {
      align-content: space-around;
      flex-wrap: wrap;
      height: 12rem; } }

.hotel-view {
  background-color: #fff;
  flex-grow: 1; }

.details {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  background-color: #faf9f9;
  border-bottom: 1px solid #777; }
  @media (max-width: 34.375em) {
    .details {
      flex-direction: column; } }

.sidebar-nav {
  background-color: #333;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20%; }
