.header {
  height: 10rem;
  background-color: $color-white;

  border-bottom: $section-border;

  display: flex;
  flex-direction: row; // to bring logo, search-form & user-nav in 1 row
  justify-content: space-between;
  align-items: center;
}
